.start-button {
   padding: 15px 30px;
   font-size: 18px;
   background-color: #ffcc00;
   border: none;
   cursor: pointer;
   font-family: "Arial", sans-serif;
   border-radius: 5px;
}

.start-button:hover {
   background-color: #e6b800;
}

.panel-wrapper button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   background-color: black;
}

.panel-wrapper img {
   width: 30px;
   height: 30px;
}

#btnLeft,
#btnRight,
#btnJump,
#btnThrow {
   display: flex;
   align-items: center;
   justify-content: center;
}

.impressum-button {
   padding: 15px 30px;
   font-size: 18px;
   background-color: #007bff;
   color: white;
   border: none;
   cursor: pointer;
   font-family: "Arial", sans-serif;
   border-radius: 5px;
}

.impressum-button:hover {
   background-color: #0056b3;
}

#close-impressum {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-family: "Arial", sans-serif;
}

#close-impressum:hover {
   background-color: #0056b3;
}
