#hud {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}

.panel-top {
    display: flex;
    justify-content:center;
    width: 80%;
}

.panel {
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.panel-wrapper {
    display: flex;
    justify-content:space-around;
    width: 150px;
}