@media only screen and (max-width: 780px) {
   canvas {
      width: 100%;
      border: 10px ridge brown;
      border-radius: 20px;
      position: relative;
   }   

   #hud {
      position: absolute;
      bottom: 0;
      width: 80%;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #orientation-hint {
      display: none;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;
      z-index: 110;
   }

   header,
   footer,
   .info-screen {
      display: none;
   }
}

@media only screen and (max-height: 480px) {
   canvas {
      height: 100vh;
      border: 10px ridge brown;
      border-radius: 20px;
   }

   #start-image {
      height: 80%;
   }

   #hud {
      padding-top: 15px;
      padding-bottom: 15px;
      height: 100%;
      position: absolute;
      bottom: 0;
      width: 80%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
   }

   header,
   footer,
   .info-screen {
      display: none;
   }
}
