@media only screen and (max-width: 780px) {
   canvas {
      width: 100%;
      border: 10px ridge brown;
      border-radius: 20px;
   }

   header {
      display: none;
   }

   footer {
      display: none;
   }
}

@media only screen and (max-height: 480px) {
   canvas {
      height: 100vh;
      border: 10px ridge brown;
      border-radius: 20px;
   }

   header {
      display: none;
   }

   footer {
      display: none;
   }
}
